body {
    background-color: #262626;
    background-image: url('imgs/back_corner.png');
    background-position: left top;
    background-repeat: no-repeat;
}

#sideNavDiv {
    left: 10px;
    top: 10px;
    width: 20px;
    transition: 0.5s;
    position: fixed;
    overflow-x: hidden;
    background-color: rgba(70 , 70 , 70, 0);
}

.sideNavContent {
    color: rgb(250, 235, 215);
    font-family: 'Courier New', Courier, monospace;
    display: block;
    visibility: hidden;
    margin: 2px;
    white-space: nowrap;
    transition: 0.2s;
    line-height: 1.5;
    text-indent: 10px;
}

a.sideNavContent {
    text-decoration: none;
}

a.sideNavContent:hover {
    text-decoration: underline;
}

.mainNavLink {
    font-size: 12pt;
}

.navLink {
    text-indent: 25px;
    font-size: 10pt;
}

#side-btn {
    color: rgb(250, 235, 215);
    background-color: rgb(70, 70, 70, 0);
    display: block;
    width: 20px;
    font-size: 40px;
    border: none;
    padding: 0;
    transition: 0.5s;
}

#projectDiv {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#projectTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    color: rgb(250, 235, 215);
}

.post {
    background-image: url('imgs/back_post.png');
    border-radius: 15px;
    border: 2px solid rgb(35, 35, 35);
    line-height: 1.5;
    max-width: 500px;
    min-width: 300px;

}